@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Rubik:wght@300;700&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif;
*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    background: linear-gradient(90deg, #2E0F0F -80.88%, #000 100%);
    overflow-x:hidden;
}
:root
{
    --cor-primaria: #ffff;
    --cor-secundaria: #000;
    --cor-detalhes1:#200808;
    --cor-detalhes2:#4A2F2F;
}
/*-------------------------------nav------------------------------------------------------------------------------>*/
nav
{
/*Display stuff*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
/*Box model stuff*/
    width: 100%;
    padding: 0.5rem 2rem;
    background: linear-gradient(to right, black , transparent);
    
    border-bottom: 2px solid var(--cor-primaria) ;
    z-index: 4;
}
/*---------------[ icone - nav ]----------------->*/
.icon img, .menu img
{
    width: 85%;
    cursor: pointer;
}
.container_menu
{
/*Display stuff*/
    display: flex;
    align-items: center;
/*Miscellaneous*/
    gap: 5rem;
}
.redes_sociais
{
/*Display stuff*/
    display: flex;
/*Typography stuff*/
    font-size: 1.5rem;
/*Miscellaneous*/
    gap: 1.30rem;
    cursor: pointer;
}

/*-------------------------------main----------------------------------------------------------------------------->*/

main{
/*Positioning stuff*/
    position: relative;
/*Box model stuff*/
    width: 100%;
    height: 100%;
    
}
.container2
{
/*Display stuff*/
    display: grid; 
    grid-template-columns: 1fr 1fr;
/*Positioning stuff*/
    position: relative;
    z-index: 1;
/*Box model stuff*/
    height: 95vh;
/*Miscellaneous*/
    overflow-x: hidden;
    overflow-y: hidden;
}
/*-------------------------------nav------------------------------------------------------------------------------>*/

/*-------------------------------Item1----------->*/

.item_1
{
/*Display stuff*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
/*Box model stuff*/
    margin-left: 4rem;
/*Miscellaneous*/
    gap: 2rem;
}

/*---------------[ Item1 - h1 ]----------------->*/

.item_1 h1
{
/*Box model stuff*/
  margin-left: -7rem;
  margin-top: 2.5rem;
/*Typography stuff*/
  font-family: 'Rubik', sans-serif;
  font-size: 7.5rem;
  font-weight: 700;
  color: var(--cor-primaria);
}

#q
{
/*Box model stuff*/
  width: 3.1rem;
  padding: 1.25rem;
  padding-left: 6.25rem;
  padding-right:2px;
  border:2px solid transparent;
  border-radius: 100%;
  background-color: #4A2F2F;
/*Typography stuff*/
  color:#200808;
}
#bol
{
/*Box model stuff*/
    width: 3.1rem;
    padding: 3.4rem;
    padding-bottom: 1.5rem;
    padding-left:5px;
    padding-right:5px;
    padding-top: 1.5rem;
    border:2px solid transparent;
    border-radius: 100%;
    background-color: #4A2F2F;
/*Typography stuff*/
    color: #200808;
}
/*---------------[ Item1 - h1 ]----------------->*/

.item_1 h2
{
/*Box model stuff*/
    margin-top: 2.1rem;
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 2.1rem;
    width: 295px;
    font-weight: 700;
    color: var(--cor-primaria);
}
#brasil
{
    color: var(--cor-detalhes2);
}

#text_it1
{
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    width: 535px;
    font-weight: 300;
    color: var(--cor-primaria);
}
/*---------------[ Item1 - button ]----------------->*/
#btn_it1
{
/*Box model stuff*/
    padding: 0.75rem 1.9rem 0.75rem 1.25rem;
    border: 2px solid var(--cor-primaria);
    border-radius: 0px 2.5rem 2.5rem 0px;
    background-color: transparent;
/*Typography stuff*/
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: var(--cor-primaria);
/*Miscellaneous*/
    cursor: pointer;
}

.arrow_btn
{
/*Box model stuff*/
    margin-left: 3rem;
/*Typography stuff*/
    font-size: 15px;
    animation: arrow 1.5s ease-in-out infinite;
}
/*---------------[ Item1 - button ]----------------->*/

/*-------------------------------Item1----------->*/

/*-------------------------------Item2----------->*/
.item_2
{
/*Display stuff*/
    display: flex;
    justify-content: center;
}
#img_it2
{
/*Positioning stuff*/
    position: absolute;
/*Box model stuff*/
    max-width: 100%;
    max-width: 38.75rem;
    margin-top: 1.25rem;
    height: auto;
/*Miscellaneous*/
    overflow-y: hidden;
}
/*-------------------------------Item2----------->*/

/*------------------------- Fundo Circulos------->*/
.circulos
{
/*Positioning stuff*/
    z-index: 0;
/*Box model stuff*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.circulo1
{
    
/*Positioning stuff*/
    position: absolute;
    left: 53rem;
    right: 9rem;
    top: 1.5rem;
/*Box model stuff*/
    width: 37.5rem;
    height: 37.5rem;
    border-radius: 46.9rem;
    background: #4A2F2F;
/*Manipulations stuff*/
    animation: moveUpDown 3s ease-in-out infinite;
}
.circulo2
{
/*Positioning stuff*/
    position: absolute;
    animation: moveUpDown 2.5s ease-in-out infinite;
/*Box model stuff*/
    left: 37rem;
    top: 25rem;
}
.circulo3
{
/*Positioning stuff*/
    position: absolute;
    top: 39rem;
    animation: moveUpDown 2s ease-in-out infinite;
}
/*------------------------- Fundo Circulos------->*/

/*----------------------------- Slides ---------->*/

.sliders
{
/*Display stuff*/
    display: flex;
    flex-direction: column;
    justify-content: center;
/*Box model stuff*/
    width: 100%;
    height: 100vh;
    padding: 2.5rem 6.25rem;
    background-repeat: no-repeat;
    background-size: 100%;
}
#slider1
{
    background-image: url(/imagens/slider-\ 1\ black.png);
}
#slider2
{
    background-image: url(/imagens/slider-\ 2\ black.png);
}
#slider3
{
/*Display stuff*/
    display: flex;
    flex-direction: column;
/*Box model stuff*/
    width: 100%;
    height: 100vh;
    padding: 2.5rem 6.25rem;
    background-image: url(imagens/slider-\ 3\ black.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.slider_title
{
/*Box model stuff*/
    margin-bottom: 3rem;
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--cor-primaria);
}
.text 
{
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--cor-primaria);
}
.parallax-bg 
{
/*Positioning stuff*/
    position: absolute;
    left: 0;
    top: 0;
/*Box model stuff*/
    width: 130%;
    height: 100%;
    background-position: center;
    background-size: cover;
/*Miscellaneous*/
    -webkit-background-size: cover;
  }

  .swiper-pagination-bullet{
    background: var(--cor-primaria);
    opacity: 1;
  }
  .swiper-pagination-bullet
  {
/*Box model stuff*/
    background: #ffff;
/*Manipulations stuff*/
    opacity: 1;
  }

/*---------------------------[ Slide 3 ]--------->*/
  .title_3
  {
/*Box model stuff*/
    margin-top: 5rem;
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--cor-primaria);
  }
  .dificuldades
  {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: space-around;
/*Box model stuff*/
    margin-top: 5rem;
  }

  .dif_2:nth-child(4)
  {
/*Box model stuff*/
    padding: 7rem 3.125rem;
    border: 5px solid var(--cor-detalhes2);
    border-radius: 100%;
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--cor-detalhes2);
/*Miscellaneous*/
    letter-spacing: 10px;
  }
  .dif_2:nth-child(2)
  {
/*Box model stuff*/
    padding: 6.25rem 3.75rem;
    border: 5px solid var(--cor-detalhes2);
    border-radius: 100%;
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--cor-detalhes2);
/*Miscellaneous*/
    letter-spacing: 10px;
  }

.dif_2:nth-child(2):hover, .dif_2:nth-child(4):hover {
/*Box model stuff*/
    border: 5px solid var(--cor-detalhes2);
    background-color: var(--cor-detalhes2);
/*Typography stuff*/
    color: var(--cor-primaria);
/*Manipulations stuff*/
    transition: all 0.5s;
  }

  .dif_1:nth-child(1)
  {
/*Box model stuff*/
    padding: 5.31rem 4rem;
    border: 5px solid var(--cor-detalhes2);
    border-radius: 100%;
    background-color: var(--cor-detalhes2);
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--cor-primaria);
/*Miscellaneous*/
    letter-spacing: 10px;
  }
  
  .dif_1:nth-child(3)
  {
/*Box model stuff*/
    padding: 7.5rem 4rem;
    border: 5px solid var(--cor-detalhes2);
    border-radius: 100%;
    background-color: var(--cor-detalhes2);
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--cor-primaria);
/*Miscellaneous*/
    letter-spacing: 10px;
  }

  .dif_1:nth-child(1):hover, .dif_1:nth-child(3):hover {
/*Box model stuff*/
    border: 5px solid var(--cor-detalhes2);
    background-color: transparent;
/*Typography stuff*/
    color: var(--cor-detalhes2);
/*Manipulations stuff*/
    transition: all 0.5s;
  }

/*---------------------------[ Slide 3 ]--------->*/

/*----------------------------- Slides --------------------------------------------------------------------------->*/

/*-------------------------------main----------------------------------------------------------------------------->*/


/*
  width:50px;
  padding: 20px;
  padding-left: 100px;
  padding-right:2px;
*/


/*-------------------------------Animações----------------------------------------------------------------------------->*/
@keyframes arrow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0); /* Inicial e estado final: sem deslocamento vertical */
    }
    50% {
      transform: translateY(-1.25rem); /* Estado intermediário: desloca 20px para cima */
    }
  }
/*-------------------------------Animações----------------------------------------------------------------------------->*/

#hoverButton {
    display: none;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    padding: 10px 12px;
    border: 2px solid var(--cor-primaria);
    background: transparent;
    color: var(--cor-primaria);
    border-radius: 3.43rem;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    animation: moveUpDown 2s ease-in-out infinite;
}
#hoverButton:hover
{
    background: var(--cor-primaria);
    color: var(--cor-detalhes1);
    transition: all 0.5s ease-in-out;
}







@media (max-width: 320px) {
    .container2 {
        grid-template-columns: 1fr; /* Uma única coluna em telas menores */
        padding: 1rem;
        height: 100vh;
    }
    .circulo3, .circulo2, #btn_nav, .redes_sociais
    {
        display: none;
    }
    .circulo1
    {
        left: 5rem;
        top: 18.5rem;
        width: 20rem;
        height: 20rem;
    }
    .item_1 h1{
        font-size: 2.5rem;
        margin-left: -4rem;
    }
    .item_1 h2
    {
        margin-top: 0rem;
        font-size: 1.5rem;
    }
    .item_1
    {
        margin-left: 0rem;
    }
    #bol
    {
        padding-bottom: 0.8rem;
        padding-top: 0.8rem;
    }
    #text_it1
    {
        font-size: 18px;
    }
    #q
    {
        padding-left: 3.5rem;
    }
    #img_it2
    {
        width: 18.75rem;
        left: 3rem;
        top: 19rem;
        z-index: -1;
    }
}

/*
@media (max-width: 720px){
    .container2 {
        
        padding: 2.5rem;
        height: 100vh;
    }
    .circulo3, .circulo2, #btn_nav, .redes_sociais
    {
        display: none;
    }
    .circulo1
    {
        left: 15rem;
        top: 33rem;
        width: 35rem;
        height: 35rem;
    }
    .item_1 h1{
        font-size: 5.5rem;
        margin-left: -5.5rem;
    }
    .item_1 h2
    {
        margin-top: 0rem;
        font-size: 2.5rem;
        width: 350px;
    }
    .item_1
    {
        margin-left: 0rem;
    }
    #bol
    {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    #text_it1
    {
        font-size: 35px;
        width: 400px;
    }
    #q
    {
        padding-left: 4.5rem;
    }
    #img_it2
    {
        width: 40rem;
        left: 10rem;
        top: 29rem;
        z-index: -1;
    }
    .arrow_btn
    {
        margin-left: 7rem;
        font-size: 25px;
    }
    #btn_it1
    {
        font-size: 20px;
        padding: 1rem 2rem 1rem 1rem;
    }
    .sliders
    {
        padding: 4rem;
    }

    .title_3
    {
        margin-top: 0rem;
        font-size: 65px;
    }

    .dificuldades
    {
 
      flex-direction: column;

      margin-top: 3rem;
    }
    
  .dif_1:nth-child(1)
  {

    padding: 4.31rem 3rem;
    margin-right: 14rem;
  }
  
  .dif_1:nth-child(3)
  {

    padding: 6.5rem 3rem;
    margin-right: 14rem;
  }


  .dif_2:nth-child(4)
  {

    padding: 6rem 2.125rem;
    margin-left: 14rem;
  }
  .dif_2:nth-child(2)
  {

    padding: 5.25rem 2.75rem;
    margin-left: 14rem;
  }
}
*/

@media (max-width: 720px){
    .container2 {
        grid-template-columns: 1fr; /* Uma única coluna em telas menores */
        padding: 1rem;
        height: 100vh;
    }
    .circulo3, .circulo2, #btn_nav, .redes_sociais
    {
        display: none;
    }
    .circulo1
    {
        left: 9rem;
        top: 21rem;
        width: 15rem;
        height: 15rem;
    }
    .item_1 h1{
        font-size: 3rem;
        margin-left: -5.5rem;
    }
    .item_1 h2
    {
        margin-top: 0rem;
        font-size: 1.5rem;
        width: 350px;
    }
    .item_1
    {
        margin-left: 0rem;
    }
    #bol
    {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    #text_it1
    {
        font-size: 18px;
        width: 300px;
    }
    #q
    {
        padding-left: 3.5rem;
    }
    #img_it2
    {
        width: 15rem;
        left: 8rem;
        top: 18rem;
        z-index: -1;
    }
    .arrow_btn
    {
        margin-left: 2rem;
        font-size: 15px;
    }
    #btn_it1
    {
        font-size: 11px;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
    .sliders
    {
        padding: 4rem;
    }

    .title_3
    {
        margin-top: 0rem;
        font-size: 65px;
    }

    .dificuldades
    {
  /*Display stuff*/
      flex-direction: column;
  /*Box model stuff*/
      margin-top: 3rem;
    }
    
  .dif_1:nth-child(1)
  {
/*Box model stuff*/
    padding: 4.31rem 3rem;
    margin-right: 14rem;
  }
  
  .dif_1:nth-child(3)
  {
/*Box model stuff*/
    padding: 6.5rem 3rem;
    margin-right: 14rem;
  }


  .dif_2:nth-child(4)
  {
/*Box model stuff*/
    padding: 6rem 2.125rem;
    margin-left: 14rem;
  }
  .dif_2:nth-child(2)
  {
/*Box model stuff*/
    padding: 5.25rem 2.75rem;
    margin-left: 14rem;
  }
}

