@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Rubik:wght@300;700&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif;
*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    background: linear-gradient(90deg, #2E0F0F -80.88%, #000 100%);
}
:root
{
    --cor-primaria: #ffff;
    --cor-secundaria: #000;
    --cor-detalhes1:#200808;
    --cor-detalhes2:#4A2F2F;
}
/*-------------------------------nav------------------------------------------------------------------------------>*/
nav
{
/*Display stuff*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
/*Box model stuff*/
    width: 100%;
    padding: 0.5rem 2rem;
    background: linear-gradient(to right, black , transparent);
    
    border-bottom: 2px solid var(--cor-primaria) ;
    z-index: 4;
}
.dark_mode nav
{
    background: transparent;
}
/*---------------[ button - nav ]----------------->*/
.dark_mode #btn_nav
{
    border: 3px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
}
#btn_nav
{
    padding: 4px 8px;
    border: 3px solid var(--cor-primaria);
    border-radius: 50px;
    display: flex;
    gap: 0.5rem;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}
.dark_mode #sun
{
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria);
    padding: 2px;
    background-color: var(--cor-secundaria);
    border-radius: 50px;
}
.dark_mode #moon
{
    color: var(--cor-secundaria);
    background: transparent;
    border: 2px solid transparent;
}
#moon
{
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
    padding: 2px 4px;
    border-radius: 50px;
    font-size: 15px;
    background-color: var(--cor-primaria);
}
#sun
{
    color: var(--cor-primaria);
    border: 2px solid var(--cor-secundaria);
    padding: 2px;
    animation: rotate 15s linear infinite;
}
.dark_mode
{
    background: linear-gradient(90deg, #2E0F0F -80.88%, rgba(63, 40, 40, 0.00) 99.99%);
}


/*---------------[ icone - nav ]----------------->*/
#icones, .menu img
{
    width: 85%;
    cursor: pointer;
}

.container_menu
{
/*Display stuff*/
    display: flex;
    align-items: center;
/*Miscellaneous*/
    gap: 5rem;
}
.dark_mode .redes_sociais a
{
    color: var(--cor-secundaria);
}
.redes_sociais, a
{
    text-decoration: none;
/*Display stuff*/
    display: flex;
/*Typography stuff*/
    font-size: 1.5rem;
/*Miscellaneous*/
    gap: 1.30rem;
    color: var(--cor-primaria);
    cursor: pointer;
    align-items: center;
}

/*-------------------------------main----------------------------------------------------------------------------->*/

main{
/*Positioning stuff*/
    position: relative;
/*Box model stuff*/
    width: 100%;
    height: 100vh;
    
}
.container2
{
/*Display stuff*/
    display: flex; 
/*Positioning stuff*/
    position: relative;
    z-index: 1;
/*Box model stuff*/
    height: 95vh;
/*Miscellaneous*/
    overflow-x: hidden;
    overflow-y: hidden;
}
/*-------------------------------nav------------------------------------------------------------------------------>*/

/*-------------------------------Item1----------->*/

.item_1
{
/*Display stuff*/
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
/*Box model stuff*/
    margin-left: 4rem;
/*Miscellaneous*/
    gap: 2rem;
}

/*---------------[ Item1 - h1 ]----------------->*/

.item_1 h1
{
/*Box model stuff*/
  margin-left: -7rem;
  margin-top: 2.5rem;
/*Typography stuff*/
  font-family: 'Rubik', sans-serif;
  font-size: 7.5rem;
  font-weight: 700;
  color: var(--cor-primaria);
}

#q
{
/*Box model stuff*/
  width: 3.1rem;
  padding: 1.25rem;
  padding-left: 6.25rem;
  padding-right:2px;
  border:2px solid transparent;
  border-radius: 100%;
  background-color: #4A2F2F;
/*Typography stuff*/
  color:#200808;
}
#bol
{
/*Box model stuff*/
    width: 3.1rem;
    padding: 3.4rem;
    padding-bottom: 1.5rem;
    padding-left:5px;
    padding-right:5px;
    padding-top: 1.5rem;
    border:2px solid transparent;
    border-radius: 100%;
    background-color: #4A2F2F;
/*Typography stuff*/
    color: #200808;
}
/*---------------[ Item1 - h1 ]----------------->*/

.item_1 h2
{
/*Box model stuff*/
    margin-top: 2.1rem;
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 2.1rem;
    width: 295px;
    font-weight: 700;
    color: var(--cor-primaria);
}
#brasil
{
    color: var(--cor-detalhes2);
}
.dark_mode #text_it1 
{
    color: var(--cor-detalhes1);
}
#text_it1
{
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    width: 535px;
    font-weight: 300;
    color: var(--cor-primaria);
}
/*---------------[ Item1 - button ]----------------->*/
.dark_mode #btn_it1
{
    border: 2px solid var(--cor-detalhes1);
    color: var(--cor-detalhes1);
}

#btn_it1
{
/*Box model stuff*/
    padding: 0.75rem 1.9rem 0.75rem 1.25rem;
    border: 2px solid var(--cor-primaria);
    border-radius: 0px 2.5rem 2.5rem 0px;
    background-color: transparent;
/*Typography stuff*/
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: var(--cor-primaria);
/*Miscellaneous*/
    cursor: pointer;
}
.dark_mode .arrow_btn
{
    color: var(--cor-detalhes1);
}
.arrow_btn
{
/*Box model stuff*/
    margin-left: 3rem;
/*Typography stuff*/
    font-size: 15px;
    animation: arrow 1.5s ease-in-out infinite;
}
/*---------------[ Item1 - button ]----------------->*/

/*-------------------------------Item1----------->*/

/*-------------------------------Item2----------->*/
.item_2
{
/*Display stuff*/
    display: flex;
    justify-content: center;
    flex: 1;
}
#img_it2
{
/*Positioning stuff*/
/*Box model stuff*/
    max-width: 100%;
    margin-top: 1.25rem;
    height: auto;
/*Miscellaneous*/
    overflow-y: hidden;
}
/*-------------------------------Item2----------->*/

/*------------------------- Fundo Circulos------->*/
.circulos
{
/*Positioning stuff*/
    z-index: 0;
/*Box model stuff*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.circulo1
{
    
/*Positioning stuff*/
    position: absolute;
    left: 53rem;
    right: 9rem;
    top: 1.5rem;
/*Box model stuff*/
    width: 37.5rem;
    height: 37.5rem;
    border-radius: 46.9rem;
    background: #4A2F2F;
/*Manipulations stuff*/
    animation: moveUpDown 3s ease-in-out infinite;
}
.circulo2
{
/*Positioning stuff*/
    position: absolute;
    animation: moveUpDown 2.5s ease-in-out infinite;
/*Box model stuff*/
    left: 37rem;
    top: 25rem;
}
.circulo3
{
/*Positioning stuff*/
    position: absolute;
    top: 39rem;
    animation: moveUpDown 2s ease-in-out infinite;
}
/*------------------------- Fundo Circulos------->*/

/*----------------------------- Slides ---------->*/

.sliders
{
/*Display stuff*/
    display: flex;
    flex-direction: column;
    justify-content: center;
/*Box model stuff*/
    width: 100%;
    height: 100vh;
    padding: 2.5rem 6.25rem;
    background-repeat: no-repeat;
    background-size: 100%;
}
.dark_mode #slider1
{
    background-image: url(imagens/slider-\ 1\ -\ light.png);
}
#slider1
{
    background-image: url(imagens/slider-\ 1\ -\ black.png);
    display: flex;
}
.dark_mode #slider2
{
    background-image: url(imagens/slider-\ 2\ -light.png);
    display: flex;
}
#slider2
{
    background-image: url(imagens/slider-\ 2\ -\ black.png);
}
.dark_mode #slider3
{
    background-image: url(imagens/slider-\ 3\ -\ ligth.png);
}
#slider3
{
/*Display stuff*/
    display: flex;
    flex-direction: column;
/*Box model stuff*/
    width: 100%;
    height: 100vh;
    padding: 2.5rem 6.25rem;
    background-image: url(imagens/slider-\ 3\ -black.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.dark_mode .text_sliders{
    color: var(--cor-detalhes1);
}
.slider_titles
{
    display: flex;
    flex: 1;
    /*Box model stuff*/
    margin-bottom: 3rem;
    /*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--cor-primaria);
}
.text_sliders
{
    display: flex;
    flex: 1;
    /*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 300;
    width: 500px;
    text-transform: uppercase;
    color: var(--cor-primaria);
}
.h1_sliders
{
    font-size: 65px;
}
.parallax-bg 
{
/*Positioning stuff*/
    position: absolute;
    left: 0;
    top: 0;
/*Box model stuff*/
    width: 130%;
    height: 100%;
    background-position: center;
    background-size: cover;
/*Miscellaneous*/
    -webkit-background-size: cover;
  }

  .swiper-pagination-bullet{
    background: var(--cor-primaria);
    opacity: 1;
  }
  .swiper-pagination-bullet
  {
/*Box model stuff*/
    background: #ffff;
/*Manipulations stuff*/
    opacity: 1;
  }

/*---------------------------[ Slide 3 ]--------->*/
  .title_3
  {
/*Box model stuff*/
    margin-top: 5rem;
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--cor-primaria);
  }
  .dificuldades
  {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: space-around;
/*Box model stuff*/
    margin-top: 5rem;
  }
  .dif_2{
/*Display stuff*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    width: 17.5rem;
    height: 17.5rem;
    border: 5px solid var(--cor-detalhes2);
    border-radius: 100%;
    background: transparent;
/*Typography stuff*/
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--cor-detalhes2);
/*Miscellaneous*/
    letter-spacing: 10px;
  }
.dif_2:hover
{
    /*Box model stuff*/
    border: 5px solid var(--cor-detalhes2);
    background-color: var(--cor-detalhes2);
/*Typography stuff*/
    color: var(--cor-primaria);
/*Manipulations stuff*/
    transition: all 0.5s;
}

.dif_1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 17.5rem;
    height: 17.5rem;
    border: 5px solid var(--cor-detalhes2);
    border-radius: 100%;
    background-color: var(--cor-detalhes2);
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--cor-primaria);
    letter-spacing: 10px;
}
.dif_1:hover{
    /*Box model stuff*/
    border: 5px solid var(--cor-detalhes2);
    background-color: transparent;
    /*Typography stuff*/
    color: var(--cor-detalhes2);
    /*Manipulations stuff*/
    transition: all 0.5s;
}

/*---------------------------[ Slide 3 ]--------->*/

/*----------------------------- Slides --------------------------------------------------------------------------->*/

/*-------------------------------main----------------------------------------------------------------------------->*/


/*
  width:50px;
  padding: 20px;
  padding-left: 100px;
  padding-right:2px;
*/


/*-------------------------------Animações----------------------------------------------------------------------------->*/
@keyframes arrow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
@keyframes rotate
{
    from {
        transform: rotate(0deg); /* Inicial e estado final: sem deslocamento vertical */
      }
      to {
        transform: rotate(360deg); /* Estado intermediário: desloca 20px para cima */
      }
      
}
@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0); /* Inicial e estado final: sem deslocamento vertical */
    }
    50% {
      transform: translateY(-1.25rem); /* Estado intermediário: desloca 20px para cima */
    }
  }
/*-------------------------------Animações----------------------------------------------------------------------------->*/

#hoverButton {
    display: none;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    padding: 10px 12px;
    border: 2px solid var(--cor-primaria);
    background: transparent;
    color: var(--cor-primaria);
    border-radius: 3.43rem;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    animation: moveUpDown 5s linear infinite;
}
#hoverButton:hover
{
    background: var(--cor-primaria);
    color: var(--cor-detalhes1);
    transition: all 0.5s ease-in-out;
}




@media (max-width: 1024px) {
    .container2 {
        display: flex;
        padding: 3rem 3rem 0rem 3rem;
        height: 100vh;
    }
    .circulo3
    {
        display: none;
    }
    #slider3
    {
        padding: 3rem;
    }
    .title_3
    {
        font-size: 80px;
    }
    .sliders
    {
        justify-content: unset;
        padding: 3rem 5rem;
    }

    .slider_titles
    {
        height: 50%;
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
        text-transform: uppercase;
        color: var(--cor-primaria);
        flex: unset;
    }
    .text_sliders
    {
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 40px;
        width: 100%;
        height: 50%;
        text-transform: uppercase;
        color: var(--cor-primaria);
        flex: unset;
    }
    .h1_sliders
    {
        font-size: 80px;
    }
    #slider1
    {
        background-image: url(imagens/slider-\ 1\ -black\ -\ \ teste.png);
    }
    #slider2
    {
        background-image: url(imagens/slider-\ 2\ -\ mobile\ -\ black.png);
    }
    #slider3
    {
        background-image: url(imagens/slider-\ 3\ -\ mobile\ -black.png);
    }
    .arrow_btn
    {
        font-size: 24px;
        margin-left: 7rem;
    }
    #btn_it1
    {
        padding: 1rem 2rem;
        font-size: 24px;
    }
    .circulos
    {
        overflow-x: hidden;
    }
    .circulo1
    {
        left: 24rem;
        top: 16rem;
        width: 55rem;
        height: 55rem;
    }
    .item_1 h1{
        font-size: 8rem;
        margin-right: 7rem;
    }
    .item_1 h2
    {
        margin-top: 0rem;
        font-size: 3.5rem;
        width: 490px;
    }
    .item_1
    {
        flex: 1;
        margin-left: 0rem;
    }
    .item_2
    {
        align-items: flex-end;
        flex: 1;
    }
    #bol
    {
        padding-bottom: 1.8rem;
        padding-top: 1.8rem;
    }
    #text_it1
    {
        font-size: 35px;
        width: 660px;
    }
    #q
    {
        padding-left: 6.5rem;
    }
    #img_it2
    {
        width: 100%;
        left: 30%;
        z-index: -1;
        position: absolute;
    }
    
    .dificuldades
    {

      flex-direction: column;

      margin-top: 3rem;
    }
    .dif_1
    {
        width: 13.5rem;
        height: 13.5rem;
        font-size: 25px;
        margin-right: 30rem;
    }
    .swiper-button-next svg, .swiper-button-prev svg
    {
        display: none;
    }
    .dif_2
    {
        width: 13.5rem;
        height: 13.5rem;
        font-size: 25px;
        margin-left: 30rem;
    }
}




@media (max-width: 780px){
    body{
        max-width: 725px;
    }
    .circulos
    {
        overflow-x: hidden;
    }
    .item_2
    {
        align-items: flex-end;
        flex: 1;
        
    }
    
    .slider_titles
    {
        height: 35%;
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
        text-transform: uppercase;
        color: var(--cor-primaria);
        flex: unset;
    }
    .text_sliders
    {
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 25px;
        width: 100%;
        height: 65%;
        text-transform: uppercase;
        color: var(--cor-primaria);
        flex: unset;
    }
    .h1_sliders
    {
        font-size: 65px;
    }
    .container2 {
        display: flex;
        padding: 2.5rem 2.5rem 0rem 2.5rem;
        height: 100vh;
    }
    .circulo3, .circulo2, .redes_sociais
    {
        display: none;
    }
    .circulo1
    {
        left: 8rem;
        top: 33rem;
        width: 35rem;
        height: 35rem;
        overflow-x: hidden;
    }
    .item_1 h1{
        font-size: 5.5rem;
        margin-left: -5.5rem;
    }
    .item_1 h2
    {
        margin-top: 0rem;
        font-size: 2.5rem;
        width: 350px;
    }
    .item_1
    {
        flex: 1;
        margin-left: 0rem;
    }
    
    #bol
    {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    #text_it1
    {
        font-size: 35px;
        width: 400px;
    }
    #q
    {
        padding-left: 4.5rem;
    }
    #img_it2
    {
        width: 80%;
        left: 35%;
        z-index: -1;
        position: absolute;
    }
    .arrow_btn
    {
        margin-left: 7rem;
        font-size: 25px;
    }
    #btn_it1
    {
        font-size: 20px;
        padding: 1rem 2rem 1rem 1rem;
    }
    .sliders
    {
        padding: 4rem;
    }

    .title_3
    {
        margin-top: 0rem;
        font-size: 52px;
    }
    #slider1
    {
        background-image: url(imagens/slider-\ 1\ -black\ -\ \ teste.png);
    }
    #slider2
    {
        background-image: url(imagens/slider-\ 2\ -\ mobile\ -\ black.png);
    }
    #slider3
    {
        background-image: url(imagens/slider-\ 3\ -\ mobile\ -black.png);
    }

    .dificuldades
    {
 
      flex-direction: column;

      margin-top: 3rem;
    }
    .dif_1{
        width: 12rem;
        height: 12rem;
        margin-right: 14rem;
        font-size: 25px;
    }
    .dif_2{
        width: 12rem;
        height: 12rem;
        margin-left: 14rem;
        font-size: 25px;
    }

}


@media (max-width: 450px) {
    .container2 {
        display: flex;
        padding: 1rem 1rem 0rem 1rem;
        height: 100vh;
    }
    .circulo3, .circulo2, .redes_sociais
    {
        display: none;
    }
    .icon img
    {
        width: 70%;
    }
    .icon
    {
        display: flex;
        justify-content: center;
    }
    #btn_nav
    {
        padding: 2px 2px;
        border: 3px solid var(--cor-primaria);
        border-radius: 50px;
        display: flex;
        gap: 0.5rem;
        background-color: transparent;
        font-size: 13px;
        cursor: pointer;
    }

    #sun
    {
        border: none;
        padding: 4px;
    }
    .menu img
    {
        width: 50%;
    }
    #slider1
    {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #slider3
    {
        padding: 3rem;
    }
    .title_3
    {
        font-size: 30px;
        margin-bottom: 0rem;
    }
    .sliders
    {
        justify-content: unset;
        padding: 3rem;
    }
    .slider_titles
    {
        height: 35%;
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
        text-transform: uppercase;
        color: var(--cor-primaria);
        flex: unset;
    }
    .text_sliders
    {
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 15px;
        width: 100%;
        height: 65%;
        text-transform: uppercase;
        color: var(--cor-primaria);
        flex: unset;
    }
    .h1_sliders
    {
        font-size: 35px;
    }
    .arrow_btn
    {
        font-size: 15px;
    }
    #btn_it1
    {
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        font-size: 15px;
    }
    .circulos
    {
        overflow-x: hidden;
    }
    .circulo1
    {
        left: 6rem;
        top: 16rem;
        width: 25rem;
        height: 25rem;
    }
    .item_1 h1{
        font-size: 3rem;
        margin-left: -4rem;
    }
    .item_1 h2
    {
        margin-top: 0rem;
        font-size: 1.5rem;
    }
    .item_1
    {
        flex: 1;
        margin-left: 0rem;
    }
    .item_2
    {
        align-items: flex-end;
        flex: 1;
    }
    #bol
    {
        padding-bottom: 0.8rem;
        padding-top: 0.8rem;
    }
    #text_it1
    {
        font-size: 18px;
        width: 250px;
    }
    #q
    {
        padding-left: 3.5rem;
    }
    #img_it2
    {
        width: 100%;
        left: 30%;
        z-index: -1;
        
    }
    .arrow_btn
    {
        margin-left: 1rem;
    }
    .dificuldades
    {
      flex-direction: column;
      margin-top: 0.5rem;
    }
    .dif_1
    {
        width: 6.5rem;
        height: 6.5rem;
        font-size: 10px;
        margin-right: 7rem;
    }
    .swiper-button-next svg, .swiper-button-prev svg
    {
        display: none;
    }
    .dif_2
    {
        width: 6.5rem;
        height: 6.5rem;
        font-size: 10px;
        margin-left: 7rem;
    }
}