@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Rubik:wght@300;700&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif;
*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
}
:root
{
    --cor-primaria: #ffff;
    --cor-secundaria: #000;
    --cor-detalhes1:#200808;
    --cor-detalhes2:#4A2F2F;
}
nav
{
/*Display stuff*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
/*Box model stuff*/
    width: 100%;
    padding: 0.5rem 2rem;
    border-bottom: 2px solid var(--cor-primaria) ;
}
.icon img, .menu img
{
    width: 65%;
    cursor: pointer;
}
.container
{
/*Display stuff*/
    display: flex;
    align-items: center;
/*Miscellaneous*/
    gap: 5rem;
}
.redes_sociais
{
/*Display stuff*/
    display: flex;
/*Typography stuff*/
    font-size: 1.5rem;
/*Miscellaneous*/
    gap: 1.30rem;
    cursor: pointer;
}




